* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 1.1em;
}

#header .btn-imagem {
    background: #333 url(../img/pexels-photo-248515.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 450px;
    width: 100%;
    z-index: -1;
    opacity: 1;
}

#header h1 {
    padding-top: 100px;
    color: white;
}

.content-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content-wrap > p {
    color: white;
    margin-top: 17px;
    text-align: center;
    width: 46%;
}

.btn-bottom {
    margin: 1.6em 0;
    border: 1px solid #666;
    background: #333;
    padding: 1em 2em;
    text-align: center;
    color: white;
    text-decoration: none;
}

.btn-bottom:hover {
    background-color: white;
    color: #666;
}

/* main - container */

.container {
    margin-top: 130px;
}

.content-text > h2 {
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.4em;
}

.content-text {
    width: auto;
    /* border: 2px solid red; */
}

.content-title {
    width: 45%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    
}

.section-b {
    padding: 30px;
    margin-top: 50px;
    background-color: #333;
}

ul {
    display: flex;
    max-width: 45%;
    margin: 0 auto;
    justify-content: space-between;
}

li {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 32%;
    justify-content: space-between;
    background-color: white;
}

.card-content {
    padding: 40px 20px;
    text-align: center;
}

.card-content .card-title {
    margin-bottom: 40px;
}

img {
    width: 100%;
}

/*Section - c */

.section-c {
    padding: 60px;
}

.section-c p {
    width: 50%;
    margin: 0 auto;
    margin-top: 35px;
    text-align: center;
}

/*Section -d */

.section-d {
    display: flex;
}

.section-d h2, p {
    text-align: center;
    margin-bottom: 20px;
}

.box {
    flex-basis: 50%;
    padding: 60px;
}

.box:nth-child(1) {
    background: #2690D4;
}

.box:nth-child(2) {
    background: #333333;
}

/* Footer */ 

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000000;
    padding: 40px;
}

span {
    color: white;
}

a {
    text-decoration: none;
    color: #268ED4;
}